<!DOCTYPE html>
<html lang="en">
  <head>
    <title>X-Base OpenApp</title>
    <meta name="keywords" content="大象云，X-Base，数字孪生，三维可视化、BIM，CIM，桥梁隧道，智慧城市，物联网IOT，新能源，新基建，智能审查，云协同，装配式，PLM集成" />
    <meta name="description" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
